<h2>Projects</h2>
<p>
    <small>
        Some are just small libraries, others are pet projects developed during research phase before building commercial
        project.
    </small>
</p>
<hr />
<div class="row">
    {{ include('projects/list/aeon-php.html.twig') }}
    {{ include('projects/list/md-link-linter.html.twig') }}
    {{ include('projects/list/structurizr-php.html.twig') }}
    {{ include('projects/list/php-matcher.html.twig') }}
    {{ include('projects/list/assert-js.html.twig') }}
    <hr />
</div>