<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ block('title') | default("Norbert Orzechowicz") }}</title>
    <meta property="og:title" content="{{ block('title') }}" />
    <meta name="twitter:title" content="{{ block('title') }}" >

    <meta name="description" content="{{ block('description')  }}">
    <meta property="og:description" content="{{ block('description') }}">
    <meta name="twitter:description" content="{{ block('description') }}">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
    <meta property="og:image" content="{{ absolute_url(asset('images/avatar.jpeg')) }}" />
    <meta property="og:image:type" content="image/svg+xml" />
    <meta property="og:image:alt" content="Norbert Orzechowicz - Personal Website" />

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
    <meta name="twitter:image" content="{{ absolute_url(asset('images/avatar.jpeg')) }}">
    <meta name="twitter:site" content="@norbert_tech" />
    <meta name="twitter:creator" content="@norbert_tech" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicons/favicon-16x16.png') }}">
    <link rel="shortcut icon" href="{{ asset('images/favicons/favicon.ico') }}">

    {% block stylesheets %}
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
        </style>
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
        {{ importmap() }}
    {% endblock %}
</head>
{% if google_analytics_id %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}">{% if google_conversion_tag %}gtag('config', '{{ google_conversion_tag }}');{% endif %}</script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ google_analytics_id }}');
</script>
{% endif %}
<body class="scroll-smooth text-black relative min-h-screen pb-16">
    <div class="sticky top-0 max-h-screen overflow-y-auto bg-white py-2 px-2 border-b border-gray-500">
        <div class="grid grid-cols-2 sm:mx-auto sm:max-w-screen-2xl px-4">
            <div class="text-left">
                <a href="{{ path('home') }}" class="text-lg">
                    norbert.tech
                </a>
            </div>
            <div class="text-right">
                <a href="{{ path('consulting') }}" class="text-lg inline-flex items-center space-x-1 mr-4">
                    <iconify-icon icon="lineicons:consulting" class="mr-1"></iconify-icon> Consulting
                </a>
                <a href="{{ path('blog') }}" class="text-lg inline-flex items-center space-x-1">
                    <iconify-icon icon="ooui:articles-ltr" class="mr-1"></iconify-icon> Blog
                </a>
            </div>
        </div>
    </div>
    {% block header %}
    <header class="pb-2">
        <div class="w-full bg-cover bg-center">
            <img src="{{ asset('images/hero.jpeg') }}" alt="Norbert Orzechowicz - Hero Image" class="w-full h-[450px] object-cover">
        </div>
    </header>
    {% endblock %}

    <main class="mx-auto max-w-screen-2xl mb-4 md:pt-4">
        {% block content %}{% endblock %}
    </main>

    <footer class="p-4 bg-sky-50 absolute bottom-0 w-full">
        <div class="mx-auto max-w-screen-2xl text-center">
            <a href="{{ path('home') }}">by @norbert_tech</a>
        </div>
    </footer>
</body>
</html>