{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}

{%- block og_img -%}
    {{ asset('images/avatar.jpeg') }}
{%- endblock -%}

{%- block og_img_type -%}
    image/jpeg
{%- endblock -%}

{%- block og_img_alt -%}
    'Norbert Orzechowicz - Personal Website
{%- endblock -%}

{% block content %}
<div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-4 mx-auto max-w-screen-2xl">
    <div class="col-span-2 p-2">
        <h2 class="font-bold text-4xl mb-4">My name is Norbert</h2>
        <p class="mb-2">
            I'm a software architect with a focus on designing and building highly scalable web applications and data processing systems.
        </p>
        <p class="mb-2">
            In my spare time, I maintain several open-source projects and enjoy automating and optimizing everything around me.
        </p>
    </div>
    <div class="md:pr-4 p-2">
        <h2 class="text-lg font-bold">Links</h2>
        <ul class="lg:list-disc lg:pl-6">
            <li>
                <a href="https://twitter.com/norbert_tech" target="_blank">
                    <img src="{{ asset('images/icons/brand/x.svg') }}" alt="Twitter" class="inline w-[18px] h-[18px]"> norbert_tech
                </a>
            </li>
            <li>
                <a href="https://github.com/norberttech" target="_blank">
                    <img src="{{ asset('images/icons/brand/github.svg') }}" alt="Twitter" class="inline w-[18px] h-[18px]"> norberttech
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/norberttech/" target="_blank">
                    <img src="{{ asset('images/icons/brand/linkedin.svg') }}" alt="Twitter" class="inline w-[18px] h-[18px]"> norberttech
                </a>
            </li>
            <li>
                <a href="mailto:contact@norbert.tech">
                    <img src="{{ asset('images/icons/mail.svg') }}" alt="Twitter" class="inline w-[18px] h-[18px]"> contact@norbert.tech
                </a>
            </li>
            <li>
                <a href="https://translate.google.com/translate?hl=en&sl=pl&tl=en&u=http%3A%2F%2Fzawarstwaabstrakcji.pl">
                    <img src="{{ asset('images/icons/www.svg') }}" alt="Twitter" class="inline w-[18px] h-[18px]"> https://zawarstwaabstrakcji.pl
                </a>
            </li>
            <li>
                <a href="https://speakerdeck.com/norbert_tech" target="_blank">
                    <img src="{{ asset('images/icons/speakerdeck.svg') }}" alt="SpeakerDeck" class="inline w-[18px] h-[18px]"> Slides from recent talks
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-4">
    <div class="col-span-2 p-2">
        {{ render(controller('NorbertTech\\Portfolio\\Controller\\ProjectsController::list')) }}
    </div>
    <div class="md:pr-4 p-2">
        <div class="mb-4">
            <iframe class="rounded-lg" src="https://github.com/sponsors/norberttech/card" title="Sponsor me!" width="480" height="225" style="border: 0;"></iframe>
        </div>
        <hr />

        <div class="mt-2 p-2">
            <h2 class="text-lg font-bold">Join Flow PHP Community!</h2>
            <iframe src="https://discord.com/widget?id=1263821077558333451&theme=dark" width="350" height="350" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
    </div>
</div>
{% endblock %}